<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>NWdVGxFFR2nVPRWI7rFMch0ui</string>
	<key>consumer_secret</key>
	<string>NdQJ25osE7mry6HbL9qA6fcSstlzduBAWgmSmgEAs3bJtybFJz</string>
</dict>
</plist>
